* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Definition of colors */
/*error: elosszor appliolja mindig a white themet, aztan valt darkra, ha frissitjuk az oldalt*/
body {
    /* text colors */
    --text-color: #222;

    /* background colors */
    --bg-primary-color: whitesmoke;
    --bg-secondary-color: darkcyan;

    background-color: var(--bg-primary-color);
    position: relative;
    min-height: 100vh;
}

.dark {
    --text-color: whitesmoke;
    --bg-primary-color: #222;
    --bg-secondary-color: darkcyan;
}

.box-cyan {
    background-color: var(--bg-secondary-color);
    color: whitesmoke;
    padding: 20px;
}

.back-cyan {
    background-color: var(--bg-secondary-color);
    color: var(--text-color);
    padding: 10px;
}

header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
}

footer {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0;
    width: 100%;
}

.title {
    text-align: center;
    justify-self: center;
}