
/* General */
:root {
    /* Text */
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    
    /* Colors */
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #313147;
    --bg-secondary: #25252e;
    --scroll-primary: #7e007e;
    --scroll-secondary: #470047;
    --nav-primary: #23232e;
    --nav-secodary: #141418;


    /* Misc */
    --transition-speed: 600ms;
    --btn-size: calc(1vw + 20px)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-primary);
    background-color: var(--bg-primary);

    display: flex;
    flex-direction: column;

    min-height: 100vh;
    margin: 0;
    padding: 0;
}
  
body::-webkit-scrollbar {
    width: 0.25rem;
}
  
body::-webkit-scrollbar-track {
    background: var(--scroll-secondary);
}
  
body::-webkit-scrollbar-thumb {
    background: var(--scroll-primary);
}
/*
header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
}*/

main {
    min-height: 100%;
    margin-left: 5rem;
    padding: 1rem;
    flex: 1;
}

div#about-page footer {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
}

li {
    list-style-type: none;
}

/* Nav bar */
.navbar {
    position: fixed;
    background-color: var(--scroll-primary);
    transition: width 600ms ease;
    overflow: hidden;
    z-index: 100;
}
  
.navbar-nav {
    background-color: var(--nav-secodary);
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
  
.nav-item {
    width: 100%;
}
  
.nav-item:last-child {
    margin-top: auto;
}
  
.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}
  
.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--nav-secondary);
    color: var(--text-secondary);
}
  
.link-text {
    display: none;
    margin-left: 1rem;
}
  
.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}
  
.fa-primary {
    color: #ff7eee;
}
  
.fa-secondary {
    color: #df49a6;
}

.grey {
    color: #9b9b9b;
}
  
.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}
  
.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}
  
.logo-text
{
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}
  
.navbar:hover .logo svg {
    transform: rotate(-180deg);
}
  
  /* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }
}
  
  /* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
}

/* Home */


/* Fokolas */


/* Keveres */


/* Higitas */


/* Themes */
.theme-icon {
    display: none;
}

.dark #darkIcon {
    display: block;
}

.dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}
  
.light #lightIcon {
    display: block;
}

.light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
}

.output {
    /*placeholder style*/
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    background-color: #ffcb2f;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
    height: 6rem;
    padding: 1rem;
}

.warning {
    background-color: #ffcccc; /* Light red background */
    color: #cc0000; /* Dark red text color */
    border: 2px solid #cc0000; /* Dark red border */
    border-radius: 8px; /* Rounded corners */
    padding: 10px 20px; /* Padding for content */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Bold text */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
}