* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.box-cyan {
    background-color: darkcyan;
    color: whitesmoke;
    padding: 20px;
}

.back-cyan {
    background-color: whitesmoke;
    color: darkcyan;
    padding: 10px;
}

header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
}

main {
    min-height: 100%;
}

footer {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0;
    width: 100%;
}

body {
    position: relative;
    min-height: 100vh;
}

.title {
    text-align: center;
    justify-self: center;
}