#alcohols {
    width: auto;
}

.inputBlock {
    min-height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

label {
    height: min-content;
}

input {
    height: min-content;
}