* {
    padding: 0;
    margin: 0;
}

header {
    justify-content: flex-start;
}

footer {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#headTitle {
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font: bold;
    text-align: center;
}

#menuBtn {
    float: left;
}

#fill-em {
    color: red;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}

#footer-cont {
    justify-content: center;
}

.box {
    background-color: darkcyan;
    padding: 20px;
    color: white;
}